.history {
    margin-top: 80px;
    width: 450px;
}

.title {
    font-family: sans-serif;
    font-weight: normal;
}

.container {
    height: 300px;
    overflow: auto;
    padding: 0 5px;
    /* margin: 0 10px; */
}

.item {
    margin-top: 10px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(175, 175, 175),
                0 -0.5px 1px rgb(175, 175, 175);
    display: flex;
    justify-content: space-between;
}

.winner {

}

.time {
    
}